<%- include('partials/header') %>
<% if (user && user._id.equals(results.user)) { %>

<div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
  <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <span class="fs-4">Date: <%= results.date.toDateString() %></span>
  </div>

  <form class="form-group" method="POST" action="/posts/<%= results._id %>/edit?_method=put" autocomplete="off" >
    <p class="col-md-8">I am grateful for...</p>
    <input class="form-control form-control-lg" type="textarea" rows="3" name="content" value="<%= results.content %>"><br>
    <button type="submit" value="Submit" class="btn btn-warning">Submit Update</button>
  </form>
  <hr class="col-3 col-md-2 mb-5">
  <form class="form-group" method="POST" action="/posts/<%= results._id %>/affirmations" autocomplete="off" >
    <p class="col-md-8">Daily affirmations. I am...</p>
    <input class="form-control form-control-lg" type="textarea" rows="3" name="affirmation" value="add affirmation"><br>
    <button type="submit"  class="btn btn-info">Add Affirmation</button>
  </form>
  <hr class="col-3 col-md-2 mb-5">
  <form action="/posts/<%= results._id %>/edit?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-light">Delete Journal Entry</button>
  </form>
</div>
<% } %>



<%- include('partials/footer') %>