<%- include('partials/header') %>

<h2>This is where i'll display all entries for the user and a create button</h2>
  <h3>This is where the users will go after they've successfully logged in</h3>
  <h3>This is where they also go when they've made a journal entry</h3>
  <a href="/posts">Add Journal Entry</a>

  <table id="list">
    <thead>
      <tr>
        <th>Content</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(m) { %>
        <tr>
          <td><%= m.content %></td>
          <td><%= m.date %></td>
          <td><a href="/posts/<%= m._id %>/edit">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('partials/footer') %>