<%- include('partials/header') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello</h1>
    <p>Each day is a different one, each day brings a mircale of its own. It's just a matter of paying attention to this miracle. - Paolo Coelho</p>
    <p><a class="btn btn-warning" href="/posts" role="button"> Write Today's Journal »</a></p>
  </div>
</div>
<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
      <h2 class="display-5">DAILY JOURNAL ENTRIES</h2>
      <% results.forEach(function(m) { %>
        <% if (user && user._id.equals(m.user)) { %>
          <span class="text-muted"><%= m.date.toDateString() %></span><a class="link-dark " href="/posts/<%= m._id %>/edit"><p class="lead"><%= m.content %></p> </a>
        <% } %>
      <% }); %>
      <p><a class="btn btn-warning" href="/posts" role="button"> Continue Today's Journal »</a></p>
    </div>
    <div class="col-lg-6 bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center">
      <h1 class="display-2 fw-bold lh-1 mb-3 ">You only live once, but if you do it right, once is enough.</h1>
      <p class="lead">MAE WEST</p>
    </div>
  </div>
</div>  



    <!-- <a href="/archives">Show all Archive</a> -->
<%- include('partials/footer') %>