<%- include('partials/header') %>
<% if (user) { %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello</h1>
    <p>Each day is a different one, each day brings a mircale of its own. It's just a matter of paying attention to this miracle. - Paolo Coelho</p>
    <p><a class="btn btn-warning" href="/posts" role="button"> Write Today's Journal »</a></p>
  </div>
</div>
<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-lg-6 mr-md-3 pt-3 px-3 pt-md-5 px-md-5">
      <h2 class="display-5 text-center">DAILY JOURNAL ENTRIES</h2>

      <% results.forEach(function(m) { %>
        <% if (user && user._id.equals(m.user)) { %>
          <div class="list-group w-auto" style="--bs-list-group-bg: none;">
            <a href="/posts/<%= m._id %>/edit" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <h6 class="mb-0"><%= m.content %></h6>
                <small class="opacity-50 text-nowrap"><%= m.date.toDateString() %></small>
              </div>
            </a>
          </div>
        <% } %>
      <% }); %>
      <!-- <br>
      <div><a class="btn btn-warning" href="/posts" role="button"> Continue Today's Journal »</a></div> -->

     </div>
    <div class="col-lg-6 bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center border rounded-3">
      <h1 class="display-2 fw-bold lh-1 mb-3 ">Those that are a friend to themselves
        are sure to be a friend to all.</h1>
      <p class="lead">LUCIUS ANNAEUS SENECA</p>
    </div>
  </div>
</div>  
<% } else { %>
  <div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/auth/google" class="btn btn-warning">Start Today's Journal</a>
      <a href="/auth/google" class="btn btn-outline-secondary">Login</a>
    </div>
  </div>
  <% } %>

    <!-- <a href="/archives">Show all Archive</a> -->
<%- include('partials/footer') %>

 
